<p>
    Жанры игр:
</p>
<div class="left_menu">
    <ul>
    {% for t in themes %}
        <li><a title="{{ t.name }}" href="/theme/{{ t.slug }}/">{{ t.name }}</a></li>
    {% endfor %}
    </ul>
</div>

<div class="left_menu">
    <ul>
        <li><a href="/best2/" style="color:#8fc400; font-size:16px;">Новый топ игр!</a></li>
        <li><a href="/best/" style="color:#8fc400; font-size:16px;">Лучшие игры</a></li>
        <li><a href="/popular/" style="color:#8fc400; font-size:16px;">Самые просматриваемые</a></li>
    </ul>
</div>
<div class="line"></div>
<div class="left_menu">
    Рекомендуем:
    <div class="left_menu">
        <ul>
            <li><a href="http://spree.link/" style="font-size:12px;">Архив порно Вконтакте</a></li>
            <li><a href="http://pronru.com/" style="font-size:12px;">Порно для телефона</a></li>
            <li><a href="http://onlythere.com/" style="font-size:12px;">Эротические фотки</a></li>
            <li><a href="http://pron-xxx.click/" style="font-size:12px;">Поиск порно видео</a></li>
        </ul>
    </div>
</div>
