    <p>
      Game genre:
    </p>
    <div class="left_menu">
      <ul>
	{% for t in themes %}
          <li><a title="{{ t.name }}" href="/theme/{{ t.url }}/">{{ t.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="left_menu">
    <ul>
      <li><a href="/best" style="color:#8fc400; font-size:16px;">Best Games</a></li>
      <li><a href="/popular" style="color:#8fc400; font-size:16px;">Popular Games</a></li>
    </ul>
    </div>
    <div class="line"></div>
    <div class="left_menu">
      Our friends:
      <div class="left_menu">
	<ul>
	  <li><a href="http://prn88.com/" style="font-size:12px;">Find Any Porn Videos From Tubes</a></li>
	</ul>
      </div>
    </div>
    <div class="left_menu">

    </div>

    <div class="left_menu">
 
      <br />
    </div>
    <div class="left_menu">
      <div style="font-size:10px;margin-left: 5px;margin-right: 5px; width: 150px;">
	<b>Help our project!</b><br/>
	Share this link: <p><span style="color:gray;"> &lt;a href=&quot;http://flashpron.com/&quot;&gt;adult flash games&lt;/a&gt;</span></p>
      </div>
    </div>

