* {margin:0; padding:0;}

	

html {
	margin:0;
	padding:0;
}


img {
border: 0;
}

#container {
margin: 42px auto;
width: 1000px;
}


#logo {
padding: 37px 0 0 30px;
color: #ffffff;
font-size: 14px;
}

#logo p {
padding: 0 0 2px 0;
}

#dohead {
position: absolute;
width: 1000px;
height: 72px;
overflow: hidden;
bottom: 1px;
left: 0;
}

#logo #slogo {
padding: 0 0 0 7px;
}

#menu {
float: left;
width: 590px;
}


#menu li a {
font-size: 18px;
color: #bfc5c8;
text-decoration: none;
display: block;
height: 72px;
overflow: hidden;
padding: 22px 17px 0 19px;
}


#login {
float: left;
width: 410px;
color: #72b6ea;
padding: 20px 0 0 0;
}



#login a {
color: #72b6ea;
}

#login a:hover {
color: #488cc1;
}

#login td {
vertical-align: top;
padding: 0 5px 2px 0;
}

#logline {
padding: 0 0 0 2px;
}


#sidebar {
width: 240px;
float: left;
overflow: hidden;
background: #eeeeee;
}

#mainint {
width: 759px;
float: left;
overflow: hidden;
line-height: 1.5;
}


#sidebar li {
list-style: none;
margin: 0 0 8px 10px;
}

#sidebar li a:hover {
color: #be1529;
}


#sidebar .b2 li a {
color: #c8e5ff;
background: none;
}

#sidebar .b2 li a:hover {
color: #ffffff;
}

#sidebar p {
padding: 10px 0 15px 0;
}

#mainint h2 {
color: #ffffff;
font-size: 18px;
font-weight: normal;
padding: 0 0 12px 0;
}


.blocks {
clear: both;
overflow: hidden;
}

.blocks li {
float: left;
width: 205px;
height: 265px;
overflow: hidden;
color: #7f878e;
margin: 0 33px 48px 0;
}

.rate {
color: #f85022;
float: left;
width: 132px;
}

.ratex {
float: left;
width: 40px;
}

.title a, .title {
color: #efefef;
font-weight: bold;
text-decoration: none;
}

.title a:hover {
text-decoration: underline;
}

.title, .des {
padding: 0 0 0 0;
}



.c1 li {
margin-bottom: 30px;
}

.paging {
clear: both;
overflow: hidden;
}

.paging ul {
background: #243847;
display: block;
float: right;
padding: 0 10px;
margin: 0 10px 0 0;
}

.paging li {
float: left;
padding: 5px;
list-style: none;
font-size: 14px;
}

.paging a {
color: #ffffff;
}

.paging a.act, .paging a:hover {
text-decoration: none;
color: #e75252;
}


.c3 b {
color: #489cdc;
font-size: 14px;
font-weight: normal;
}

#mainint .c3 h2 {
padding-bottom: 5px;
}

.c3 p {
padding: 0 25px 10px 0;
}

.jp {
text-align: center;
padding: 25px 0 0 0;
}

#footer {
color: #989fa9;
line-height: 1.6;
padding: 20px 25px 0 25px;
font-size: 12px;
}

#footer_c {
color: #fefefe;
}

#login .zl {
color: #fffefe;
line-height: 1;
padding: 0 0 0 190px;
}

#login .zl p {
padding: 0 0 8px 0;
}

.rateb {
clear: both;
overflow: hidden;
padding: 0 0 2px 0;
}


.c5 b {
color: #489cdc;
font-size: 14px;
font-weight: normal;
}

.c5 p {
padding: 0 25px 15px 0;
}

#mainint .padpad {
padding-top: 20px;
}


.forma table {
padding: 8px 0 0 10px;
}

.forma input, .forma textarea {
  border: 1px solid #ffffff;
 -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 2px;
}