{% for comment in comments %}
  <div class="comment" align="left">
    <div class="comment_header">
      <a name="{{ comment.id }}" href="{% url 'view_game' game_id=comment.flash.id %}/#{{ comment.id }}">#{{ comment.id }}</a> 
      {% if user.is_staff %}
        <a href="/del-comment/{{ comment.id }}">[del]</a> | <a href="/ban/{{ comment.id }}/">[ban IP {{ comment.ip }}]</a>:
      {% endif %}
      {{ comment.publication_date }} 	  
      <a href="">{{ comment.user }}</a> написал:
    </div>
    <div class="comment_text">
      {{ comment.text }}
    </div>
</div>
{% endfor %}

