downloads/
*~
\#*\#
.\#*
/db/
sitemaps/
sitemap1.txt
/config.py
keys/
app/local_settings.py
*~
.#*.*
*.pyc
*.pyo
*.swp
*.swo
*.rar
*.bak
local_settings.py
/data/
.hg/
.hgtags
media/
build/
.hgignore

# rewrite
sites.toml
var/
media/
*.sql.gz
*.swf
.venv/
.env
.env.*
!.env.example
archive/data/
/*.sql
