{% extends "base.html" %}
{% macro heading() %}{% if top %}Top games{% elif best %}Best rated games{% else %}Most played games{% endif %}{% endmacro %}
{% block title %}{{ heading() }}: nsfwgames{% endblock %}
{% block content %}
<div class="page-head">
  <h1>{{ heading() }}</h1>
  <p>{% if top %}Highly rated and played a lot.{% elif best %}Ranked by player votes.{% else %}Ranked by number of plays.{% endif %}</p>
</div>
{% include "flash-list.html" %}
{% include "paginator.html" %}
{% endblock %}
