<span class="current">
  Страница {{ flashes.number }} из {{ flashes.paginator.num_pages }}.
</span>
<div class="page_buttons">
  <span class="step-links">
    {% if flashes.has_previous %}
    <a href="{{ base_url }}/page/{{ flashes.previous_page_number }}">&larr;</a>
    {% endif %}

    {% for page in pages %}
    {% ifnotequal page page_id %}
    <a class="pages_links" href="{{ base_url }}/page/{{ page }}/">{{ page }}</a>
    {% endifnotequal %}
    {% ifequal page page_id %}
    <span class="c_page">{{ page }}</span>
    {% endifequal %}
    {% endfor %}

    {% if flashes.has_next %}
    <a href="{{ base_url }}/page/{{ flashes.next_page_number }}">&rarr;</a>
    {% endif %}
  </span>
</div>
