{% load cache %}
{% cache 1 flashxxxrandom %}

<div id="flashes_random" class="regular-border" style="padding:8px; float:left; margin-top:20px; width:100%;">
<h3>Случайные порно игры:</h3>
  {% for g in random %}
  <div class="random-flash-item">
    <div style="float:left;">
      <a title="{{ g.name }}" href="{% url 'view_game' game_id=g.id %}" target="_blank"><img alt="{{ g.name }}" src="{{ g.get_thumb }}" style="width: 100%;" border="0" /></a>
    </div>
  </div>
  {% endfor %}
</div>

{% endcache %}
