@charset "utf-8";
*{padding:0px; margin:0px; border:0px;}
body{font-family:Tahoma, Geneva, sans-serif; font-size:18px; border-top:4px #fff solid;}
a {color:#0497bb; text-decoration:none}
a:hover {text-decoration:underline}
.root{ width:930px; margin:0 auto;}
.top_container{
	background-position:0 0;
	background-repeat:no-repeat;
	height:60px;
	position:relative;
}

.top_text{
	color:red;
	font-size:25px;
	clear:both
}

.my_put { border:1px #d8d8d8 solid; }

.top_text_1{height:135px}
.top_text .white{color:white; display:block; font-size:12px}
.side_col{float:left; width:207px; padding-top:10px}
.side_col ul li{ list-style:none}
.page_content{ float:left;width:720px}
.tum1{border:1px #c6dded solid;}
.thumb_container{width:350px; height:350px; background-color:#d9e9ff; border:1px #fff solid}
table.thumb_cont{float:right; margin-top:10px}
.cell1{width:350px}
.bot_cell{background-image:url(pos_bg.png); font-size:12px; font-weight:700; text-transform:uppercase; color:#666666; background-position:0 100%; padding:10px 0 15px 5px;}
.gray_star{background-image:url(gray_star.png); background-position:0 100%; background-repeat:repeat-x; width:90px; height:17px}
.blue_star{background-image:url(blue_star.png); float:left; background-repeat:repeat-x; width:50%; height:17px}
.footer{border:1px #c5dcec solid; border-bottom:0px; height:62px; float:left; width:923px; margin-top:30px; background-color:#fbfbfb}

.drevo { padding: 5px; font-size: 14px; }

.desc { 
    margin:10px;
    padding:5px; border: 1px #d8d8d8 dashed; 
}
.off {
display: none;
}

textarea input {
    border: 1px black solid;
}

.comment_header { 
    margin:5px;
    padding: 5px;
    background-color:#d5d5d5;
    font-size:10px;
}
.comment_text {
    padding: 5px;
    background-color:white;
}